* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: linear-gradient(to right, #3F2B96 0%, #A8C0FF 100%);
    background-color: #3F2B96 ;

}

h1 {
    text-align: center;
    font-style: italic;
    color: rgb(54, 3, 78);
    font-size: 50px;
    font-weight: lighter;
    text-decoration: underline; 
    

}

p {
    text-align:center;
    font-size: 25px;
    color: rgb(6, 5, 17);

}
